.card-vert {
  position: relative;
  width: 100%;
  max-width: 20rem;
  height: max-content;

  box-shadow: var(--default-box-shadow);
}

.card-hor {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 30rem;
  height: 15rem;
  box-shadow: var(--default-box-shadow);
}

.card-hor .card-text {
  display: block;
  overflow-y: scroll;
}

.card-hor .card-text-scroll {
  margin: 0.5rem;
  display: block;
  text-align: justify;
}

.card-img {
  position: relative;
  width: 100%;
}

.card-details {
  font-size: medium;
  font-family: Lato, sans-serif;
  display: flex;
  flex-direction: column;
}

.card-title {
  margin: 0.5rem;
  font-family: Lato, sans-serif;
}

.card-subtitle {
  margin: 0.5rem;
  font-size: large;
  font-family: Lato, sans-serif;
}

.card-text {
  margin: 0.5rem;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.card-text-scroll {
  margin: 0.5rem;
  overflow: overlay;
  height: 7rem;
  overflow-y: scroll;
}

.card-badge {
  display: inline;
  position: absolute;
  top: 2rem;
  left: 0;
  z-index: 1;
  background: var(--yellow);
}

.badge-dismiss {
  padding: 0.5rem;
  z-index: 1;
  background: transparent;
  color: var(--color-primary);
}

.badge-dismiss:hover {
  color: var(--red);
}

.card-badge icon {
  padding: calc(4 * var(--padding-default));
  color: black;
}

.card-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.card-btn {
  gap: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.card-price {
  font-weight: bold;
}

.card-icon {
  display: flex;
  width: fit-content;
  padding: 0.5rem 0.5rem;
  border: none;
  border-radius: var(--button-border);

  font-size: 1.125rem;
  text-align: center;
  text-decoration: none;

  outline: none;
  cursor: pointer;
  transition: var(--transition-default);
}

.card-overlay {
  background-color: var(--color-primary-extra-light);
  height: 100%;
  z-index: 2;
  width: 100%;
  bottom: 0;
}

.text-overlay {
  color: var(--black);
  font-size: 3.5rem;
  font-weight: var(--font-bold);
  transform: rotate(55deg);
  top: 45%;
  width: max-content;
}

.card-shadow {
  box-shadow: 5px 5px 10px 5px var(--color-primary-extra-light);
}
