.input {
  max-width: 100%;
  padding: 0.5rem 1rem;
  border: 2px solid none;
  border-radius: 0.5rem;
}

.input-textbox {
  padding: 0.5rem 1rem;
  border: 2px solid var(--color-primary);
  border-radius: 0.5rem;

  background-color: transparent;
}

.input-success {
  padding: 0.5rem 1rem;
  border: 2px solid var(--color-success);
  border-radius: 0.5rem;

  color: var(--color-success);

  background-color: transparent;
}

.input-warning {
  padding: 0.5rem 1rem;
  border: 2px solid var(--color-warning);
  border-radius: 0.5rem;

  color: var(--color-warning);

  background-color: transparent;
}

.input-error {
  padding: 0.5rem 1rem;
  border: 2px solid var(--color-error);
  border-radius: 0.5rem;

  color: var(--color-error);

  background-color: transparent;
}
